* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

@keyframes derecha-izquierda {
  from {
    margin-left: 100%;
    width: 300%; }
  to {
    margin-left: 0%;
    width: 100%; } }

@keyframes izquierda-derecha {
  from {
    margin-left: 0%;
    width: 100%; }
  to {
    margin-left: 100%;
    width: 300%; } }

@keyframes pulse {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.1); }
  100% {
    transform: scale(1); } }

@keyframes rollIn {
  0% {
    opacity: 0;
    transform: translateX(-100%) rotate(-120deg); }
  100% {
    opacity: 1;
    transform: translateX(0px) rotate(0deg); } }

@keyframes bounceInRight {
  0% {
    opacity: 0;
    transform: translateX(2000px); }
  60% {
    opacity: 1;
    transform: translateX(-30px); }
  80% {
    transform: translateX(10px); }
  100% {
    transform: translateX(0); } }

@keyframes bounceInLeft {
  0% {
    opacity: 0;
    transform: translateX(-2000px); }
  60% {
    opacity: 1;
    transform: translateX(30px); }
  80% {
    transform: translateX(-10px); }
  100% {
    transform: translateX(0); } }

@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: scale(0.3); }
  50% {
    opacity: 1;
    transform: scale(1.05); }
  70% {
    transform: scale(0.9); }
  100% {
    transform: scale(1); } }

@keyframes wobble {
  0% {
    transform: translateX(0%); }
  15% {
    transform: translateX(-25%) rotate(-5deg); }
  30% {
    transform: translateX(20%) rotate(3deg); }
  45% {
    transform: translateX(-15%) rotate(-3deg); }
  60% {
    transform: translateX(10%) rotate(2deg); }
  75% {
    transform: translateX(-5%) rotate(-1deg); }
  100% {
    transform: translateX(0%); } }

@keyframes banner {
  0% {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url(../img/fondos/fondo-index.jpg);
    padding-top: 6rem;
    padding-bottom: 6rem;
    text-align: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%; }
  25% {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url(../img/fondos/fondo-index.jpg);
    padding-top: 6rem;
    padding-bottom: 6rem;
    text-align: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%; }
  26% {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url(../img/fondos/fondo-index2.jpg);
    padding-top: 6rem;
    padding-bottom: 6rem;
    text-align: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%; }
  50% {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url(../img/fondos/fondo-index2.jpg);
    padding-top: 6rem;
    padding-bottom: 6rem;
    text-align: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%; }
  51% {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url(../img/fondos/fondo-index3.jpg);
    padding-top: 6rem;
    padding-bottom: 6rem;
    text-align: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%; }
  75% {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url(../img/fondos/fondo-index3.jpg);
    padding-top: 6rem;
    padding-bottom: 6rem;
    text-align: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%; }
  76% {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url(../img/fondos/fondo-index4.jpg);
    padding-top: 6rem;
    padding-bottom: 6rem;
    text-align: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%; }
  100% {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url(../img/fondos/fondo-index4.jpg);
    padding-top: 6rem;
    padding-bottom: 6rem;
    text-align: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%; } }

.container__sidebar > button {
  position: fixed;
  right: 0;
  top: 28%;
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 100; }

.sidebar {
  position: fixed;
  right: 0;
  top: 35%;
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 100; }

.bi-layout-text-sidebar {
  color: #FFFFFF;
  padding: .5rem;
  display: flex;
  transition: all .5s;
  border: #FFFFFF; }

div .sidebar .bi-whatsapp {
  background: #4dc247;
  color: #FFFFFF;
  padding: .5rem;
  display: flex;
  transition: all .5s; }

div .sidebar .bi-facebook {
  background: #2E406E;
  color: #FFFFFF;
  padding: .5rem;
  display: flex;
  transition: all .5s; }

div .sidebar .bi-geo-alt {
  background: #212529;
  color: #FFFFFF;
  padding: .5rem;
  display: flex;
  transition: all .5s; }

div .sidebar .bi-house {
  background: #bb4430;
  color: #FFFFFF;
  padding: .5rem;
  display: flex;
  transition: all .5s; }

div .sidebar .bi-instagram {
  background: #FD1D1D;
  color: #FFFFFF;
  padding: .5rem;
  display: flex;
  transition: all .5s; }

div .sidebar .bi:first-child {
  border-radius: 1rem 0 0 0; }

div .sidebar .bi:last-child {
  border-radius: 0 0 0 1rem; }

div .sidebar .bi-facebook:hover {
  padding-right: 3rem;
  border-radius: 1rem 0 0 1rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.42); }

div .sidebar .bi-geo-alt:hover {
  padding-right: 3rem;
  border-radius: 1rem 0 0 1rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.42); }

div .sidebar .bi-house:hover {
  padding-right: 3rem;
  border-radius: 1rem 0 0 1rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.42); }

div .sidebar .bi-instagram:hover {
  padding-right: 3rem;
  border-radius: 1rem 0 0 1rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.42); }

div .sidebar .bi-whatsapp:hover {
  padding-right: 3rem;
  border-radius: 1rem 0 0 1rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.42); }

div .sidebar .bi-layout-text-sidebar:hover {
  padding-right: 3rem;
  border-radius: 1rem 0 0 1rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.42); }

@keyframes derecha-izquierda {
  from {
    margin-left: 100%;
    width: 300%; }
  to {
    margin-left: 0%;
    width: 100%; } }

@keyframes izquierda-derecha {
  from {
    margin-left: 0%;
    width: 100%; }
  to {
    margin-left: 100%;
    width: 300%; } }

@keyframes pulse {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.1); }
  100% {
    transform: scale(1); } }

@keyframes rollIn {
  0% {
    opacity: 0;
    transform: translateX(-100%) rotate(-120deg); }
  100% {
    opacity: 1;
    transform: translateX(0px) rotate(0deg); } }

@keyframes bounceInRight {
  0% {
    opacity: 0;
    transform: translateX(2000px); }
  60% {
    opacity: 1;
    transform: translateX(-30px); }
  80% {
    transform: translateX(10px); }
  100% {
    transform: translateX(0); } }

@keyframes bounceInLeft {
  0% {
    opacity: 0;
    transform: translateX(-2000px); }
  60% {
    opacity: 1;
    transform: translateX(30px); }
  80% {
    transform: translateX(-10px); }
  100% {
    transform: translateX(0); } }

@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: scale(0.3); }
  50% {
    opacity: 1;
    transform: scale(1.05); }
  70% {
    transform: scale(0.9); }
  100% {
    transform: scale(1); } }

@keyframes wobble {
  0% {
    transform: translateX(0%); }
  15% {
    transform: translateX(-25%) rotate(-5deg); }
  30% {
    transform: translateX(20%) rotate(3deg); }
  45% {
    transform: translateX(-15%) rotate(-3deg); }
  60% {
    transform: translateX(10%) rotate(2deg); }
  75% {
    transform: translateX(-5%) rotate(-1deg); }
  100% {
    transform: translateX(0%); } }

@keyframes banner {
  0% {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url(../img/fondos/fondo-index.jpg);
    padding-top: 6rem;
    padding-bottom: 6rem;
    text-align: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%; }
  25% {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url(../img/fondos/fondo-index.jpg);
    padding-top: 6rem;
    padding-bottom: 6rem;
    text-align: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%; }
  26% {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url(../img/fondos/fondo-index2.jpg);
    padding-top: 6rem;
    padding-bottom: 6rem;
    text-align: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%; }
  50% {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url(../img/fondos/fondo-index2.jpg);
    padding-top: 6rem;
    padding-bottom: 6rem;
    text-align: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%; }
  51% {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url(../img/fondos/fondo-index3.jpg);
    padding-top: 6rem;
    padding-bottom: 6rem;
    text-align: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%; }
  75% {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url(../img/fondos/fondo-index3.jpg);
    padding-top: 6rem;
    padding-bottom: 6rem;
    text-align: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%; }
  76% {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url(../img/fondos/fondo-index4.jpg);
    padding-top: 6rem;
    padding-bottom: 6rem;
    text-align: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%; }
  100% {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url(../img/fondos/fondo-index4.jpg);
    padding-top: 6rem;
    padding-bottom: 6rem;
    text-align: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%; } }

.navbar {
  background: none;
  font-family: "Roboto Slab", serif;
  background: #212529;
  margin: 0px;
  margin-top: 5px;
  margin-bottom: 5px;
  border: 5px #FFFFFF;
  animation-duration: 3s;
  animation-name: bounceInRight; }

.navbar-nav .nav-item .nav-link {
  color: #FCEFEF;
  text-shadow: 1px 1px 2px #101112;
  font-size: 18px;
  transition: all 0.8s ease-in;
  padding: auto; }

.navbar-nav .nav-item .nav-link:hover {
  font-size: 20px;
  color: #bb4430;
  text-decoration: underline 1px #bb4430; }

/*Inicio background*/
.header_index {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url(../img/fondos/fondo-index.jpg);
  padding-top: 6rem;
  padding-bottom: 6rem;
  text-align: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  animation: banner 24s infinite linear; }

.header_nosotros {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url(../img/fondos/fondo-nosotros.jpg);
  padding-top: 6rem;
  padding-bottom: 6rem;
  text-align: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%; }

.header_carta {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url(../img/fondos/fondo-carta.jpg);
  padding-top: 6rem;
  padding-bottom: 6rem;
  text-align: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%; }

.header_cerveza {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url(../img/fondos/fondo-cerveza.jpg);
  padding-top: 6rem;
  padding-bottom: 6rem;
  text-align: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%; }

.header_contacto {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/fondos/fondo-contacto.jpg);
  padding-top: 6rem;
  padding-bottom: 6rem;
  text-align: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%; }

body {
  background: #6d342c;
  background: linear-gradient(90deg, #6d342c 0%, #bb4530 50%, #b54430 50%, #6d342c 100%);
  background: -moz-linear-gradient(90deg, #6d342c 0%, #bb4530 50%, #b54430 50%, #6d342c 100%);
  background: -webkit-linear-gradient(90deg, #6d342c 0%, #bb4530 50%, #b54430 50%, #6d342c 100%); }

footer {
  background: #212529;
  border: solid 2px #101112; }

/*fin background*/
/*Inicio Estilos titulos y parrafos*/
p {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  color: #FFFFFF;
  letter-spacing: 2px;
  word-spacing: 2px;
  padding: auto; }

h1, h2, h3, h4, h5, h6 {
  color: #FFFFFF;
  text-align: center;
  font-weight: bolder;
  font-family: 'Roboto Slab', serif;
  text-shadow: 1px 1px 2px #101112;
  animation-name: bounceInLeft;
  animation-duration: 3s; }

.index__titulo {
  font-size: 2.8rem;
  margin: 1rem;
  transition: font-size 3s ease-in;
  animation-delay: 3s;
  animation-name: pulse; }

.index__titulo:hover {
  font-size: 3rem; }

.index__boton {
  text-decoration: none;
  color: #FFF;
  border: 1px solid #FFF;
  text-transform: uppercase;
  transition: all .3s ease-in-out; }

.index__boton:hover {
  background-color: #FFFFFF;
  color: #212529; }

.footer p {
  margin: 2px 2px;
  padding: auto; }

/*Fin Estilos titulos y parrafos*/
/*Inicio Estilos generales*/
.logo {
  display: flex;
  margin: auto;
  width: 180px;
  animation: bounceIn  3s linear; }

/*Fin Estilos Generales*/
/*Inicio estilos Index*/
.card {
  background: none;
  margin-top: 30px;
  margin-bottom: 30px;
  box-shadow: 20px 5px 10px #101112;
  border: 5px solid #bb4430; }

.card-cover {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; }

.card-title {
  font-size: 30px;
  text-shadow: 3px 3px 4px #101112; }

.card-text {
  font-size: 20px;
  text-shadow: 3px 3px 4px #101112; }

/*Fin estilos Index*/
/*Inicio estilos Nosotros*/
.main__parrafo {
  word-spacing: 5px;
  text-shadow: 2px 2px 3px #101112; }

@media (max-width: 768px) {
  .main__parrafo {
    font-size: 1rem; } }

@media (max-width: 576px) {
  .main__parrafo {
    font-size: 0.8rem; } }

.main__video {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 60px;
  overflow: hidden;
  margin: 10px 10px 10px 10px;
  border-radius: 10px;
  box-shadow: 20px 5px 10px #212529; }

.main__video iframe,
.main__video object,
.main__video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

/*Fin de Estilos Nosotros*/
/*Inicio estilos nuestra carta*/
.bi-plus-lg {
  font-size: 2rem; }

#catalogo .catalogo-item {
  max-width: 26rem;
  margin-left: auto;
  margin-right: auto; }

#catalogo .catalogo-item .catalogo-link {
  position: relative;
  display: block;
  margin: 0 auto; }

#catalogo .catalogo-item .catalogo-link .catalogo-hover {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  background: #F58E1850;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity ease-in-out 0.50s; }

#catalogo .catalogo-item .catalogo-link .catalogo-hover .catalogo-hover-content {
  font-size: 1.25rem;
  color: white; }

#catalogo .catalogo-item .catalogo-link:hover .catalogo-hover {
  opacity: 10; }

#catalogo .catalogo-item .catalogo-caption {
  padding: 1.5rem;
  text-align: center;
  background-color: #bb4430; }

#catalogo .catalogo-item .catalogo-caption .catalogo-caption-heading {
  font-size: 1.5rem;
  font-family: "Roboto Slab", serif;
  color: #FFFFFF;
  font-weight: 700;
  margin-bottom: 0; }

#catalogo .catalogo-item .catalogo-caption .catalogo-caption-subheading {
  font-style: italic;
  font-family: "Roboto Slab", serif; }

.catalogo-modal .modal-dialog {
  margin: auto;
  display: block; }

.catalogo-modal .modal-content {
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
  background: #bb4430; }

.catalogo-modal .modal-content h2, .catalogo-modal .modal-content .h2 {
  font-size: 2rem;
  line-height: 3rem; }

.catalogo-modal .modal-content p.item-intro {
  margin-bottom: 2rem;
  font-family: "Roboto Slab", serif; }

.catalogo-modal .modal-content p {
  margin-bottom: 2rem; }

.catalogo-modal .modal-content ul.list-inline {
  margin-bottom: 2rem;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  color: #FFFFFF;
  letter-spacing: 2px;
  word-spacing: 2px;
  padding: auto;
  text-align: left; }
  .catalogo-modal .modal-content ul.list-inline li {
    list-style: disc; }
  .catalogo-modal .modal-content ul.list-inline ol {
    list-style: square; }

.catalogo-modal .modal-content img {
  margin-bottom: 2rem; }

.catalogo-modal .close-modal {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  background-color: transparent; }

.catalogo-modal .close-modal:hover {
  opacity: 0.3; }

/*Fin Estilos nuestra carta*/
/*Inicio estilos Cerveza*/
#carrusel-cerveza {
  width: 100%;
  margin: auto;
  display: block;
  padding: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  box-shadow: 20px 5px 10px #212529; }
  #carrusel-cerveza .carousel-caption p {
    font-size: 20px;
    text-shadow: 2px 2px 3px #101112; }
  #carrusel-cerveza .carousel-caption h5 {
    font-size: 30px; }

.birra-platos {
  margin-bottom: 3rem;
  text-align: center; }

.birra-platos img {
  width: 15rem;
  height: 14.5rem;
  border: 0.5rem solid rgba(0, 0, 0, 0.1); }

.birra-platos h4 {
  margin-top: 1.5rem;
  margin-bottom: 1; }

.birra-platos p {
  margin-top: 1rem; }

/*Fin Estilos Cerveza*/
/*Inicio Estilos contacto*/
.bi-telephone, .bi-geo-fill {
  font-size: 1.5em;
  color: #FFFFFF;
  text-shadow: 1px 1px 2px #101112; }

.contacto p a {
  text-decoration: none; }
  .contacto p a .bi-whatsapp, .contacto p a .bi-facebook, .contacto p a .bi-instagram {
    font-size: 1.5em;
    padding: 0em 0.1em 0em 0.1em;
    color: #FFFFFF;
    text-shadow: 1px 1px 1px #101112;
    transition: all 0.5s linear; }
  .contacto p a .bi:first-child {
    border-radius: 0.3em; }

p a {
  text-decoration: none;
  padding: 1em 1em; }
  p a .bi-whatsapp:hover {
    font-size: 2em;
    color: #FFFFFF;
    background: #4dc247; }

p a {
  text-decoration: none;
  padding: 1em 1em; }
  p a .bi-facebook:hover {
    font-size: 2em;
    color: #FFFFFF;
    background: #3b5998; }

p a {
  text-decoration: none;
  padding: 1em 1em; }
  p a .bi-instagram:hover {
    font-size: 2em;
    color: #FFFFFF;
    background: #fd1d1d; }

.form-group > .btn {
  text-align: justify;
  display: inline-block;
  margin: auto; }

label {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  color: #FFFFFF;
  letter-spacing: 2px;
  word-spacing: 2px;
  padding: auto; }

.main__mapa {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 60px;
  overflow: hidden;
  margin: 10px 10px 10px 10px;
  border-radius: 10px;
  box-shadow: 20px 5px 10px #212529; }

.main__mapa iframe,
.main__mapa object,
.main__mapa embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

/*Fin Estilos contacto*/
