* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.container__sidebar > button {
  position: fixed;
  right: 0;
  top: 28%;
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 100; }

.sidebar {
  position: fixed;
  right: 0;
  top: 35%;
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 100; }

.bi {
  color: #FCEFEF;
  padding: .5rem;
  display: flex;
  transition: all .5s; }

.bi-whatsapp {
  background: #4dc247; }

.bi-facebook {
  background: #2E406E; }

.bi-geo-alt {
  background: #212529; }

.bi-house {
  background: #D58936; }

.bi-instagram {
  background: #FD1D1D; }

.bi:first-child {
  border-radius: 1rem 0 0 0; }

.bi:last-child {
  border-radius: 0 0 0 1rem; }

.bi:hover {
  padding-right: 3rem;
  border-radius: 1rem 0 0 1rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.42); }

.navbar {
  background: none;
  font-family: "Roboto Slab", serif;
  background: #212529;
  margin: 0px;
  margin-top: 5px;
  margin-bottom: 5px;
  border: 5px #fcefef; }

.navbar-nav .nav-item .nav-link {
  color: #FCEFEF;
  text-shadow: 1px 1px 2px black;
  font-size: 18px;
  transition: all 0.8s ease-in;
  padding: auto; }

.navbar-nav .nav-item .nav-link:hover {
  font-size: 20px;
  color: #D58936;
  text-decoration: underline 1px #D58936; }

.navbar .navbar-toggler {
  color: none; }

.navbar-toggler:hover {
  text-decoration: none; }

/*Inicio background*/
.header_index {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../imagenes/fondos/fondo-index.jpg);
  padding-top: 6rem;
  padding-bottom: 6rem;
  text-align: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  height: 90vh; }

.header_nosotros {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../imagenes/fondos/fondo-nosotros.jpg);
  padding-top: 6rem;
  padding-bottom: 6rem;
  text-align: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  height: 90vh; }

.header_carta {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../imagenes/fondos/fondo-carta.jpg);
  padding-top: 6rem;
  padding-bottom: 6rem;
  text-align: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  height: 90vh; }

.header_cerveza {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../imagenes/fondos/fondo-cerveza.jpg);
  padding-top: 6rem;
  padding-bottom: 6rem;
  text-align: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  height: 90vh; }

.header_contacto {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../imagenes/fondos/fondo-contacto.jpg);
  padding-top: 6rem;
  padding-bottom: 6rem;
  text-align: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  height: 90vh; }

body {
  width: 100%;
  background: none; }

footer {
  background: #212529;
  width: 100%;
  border: solid 2px #101112; }

main {
  width: 100%;
  background: #852525;
  border: solid 2px #101112; }

/*fin background*/
/*Inicio Estilos titulos y parrafos*/
p {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  color: #fcefef;
  letter-spacing: 2px;
  word-spacing: 2px;
  padding: auto;
  margin: auto;
  font-size: 1rem; }

.btn {
  display: block;
  margin: auto;
  padding: auto; }

h1, h2, h3, h4, h5, h6 {
  color: #FCEFEF;
  text-align: center;
  font-weight: bolder;
  font-family: 'Roboto Slab', serif;
  text-shadow: 1px 1px 2px #101112;
  letter-spacing: 2px;
  word-spacing: 5px;
  line-height: 30px;
  margin-top: 30px;
  margin-bottom: 30px; }

.index__titulo {
  font-size: 2.8rem;
  padding: max-content;
  margin: max-content;
  transition: font-size 3s ease-in; }

.index__titulo:hover {
  font-size: 3rem; }

.footer p {
  margin: 2px 2px;
  padding: auto; }

/*Fin Estilos titulos y parrafos*/
/*Inicio Estilos generales*/
.logo {
  display: block;
  margin: auto;
  width: 15%; }

/*Fin Estilos Generales*/
/*Inicio estilos Index*/
.card div img {
  transition: background-color 2s linear; }

.card div img:hover {
  background-color: #fcefef; }

.card {
  background: none;
  margin-top: 30px;
  margin-bottom: 30px;
  box-shadow: 20px 5px 10px black;
  border: 5px solid #852525; }

.card-cover {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; }

.card-title {
  font-size: 30px;
  text-shadow: 3px 3px 4px #101112; }

.card-text {
  font-size: 20px;
  text-shadow: 3px 3px 4px #101112; }

/*Fin estilos Index*/
/*Inicio estilos Nosotros*/
.main__parrafo {
  word-spacing: 5px;
  margin: 25px;
  text-shadow: 2px 2px 3px #101112; }

.main__video {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 60px;
  overflow: hidden;
  margin: 10px 10px 10px 10px;
  border-radius: 10px;
  box-shadow: 20px 5px 10px #212529; }

.main__video iframe,
.main__video object,
.main__video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.carousel {
  width: 70%;
  margin: auto;
  display: block;
  padding: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  box-shadow: 20px 5px 10px #212529; }

/*Fin de Estilos Nosotros*/
/*Inicio estilos nuestra carta*/
#catalogo .catalogo-item {
  max-width: 26rem;
  margin-left: auto;
  margin-right: auto; }

#catalogo .catalogo-item .catalogo-link {
  position: relative;
  display: block;
  margin: 0 auto; }

#catalogo .catalogo-item .catalogo-link .catalogo-hover {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  background: #21252980;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity ease-in-out 0.25s; }

#catalogo .catalogo-item .catalogo-link .catalogo-hover .catalogo-hover-content {
  font-size: 1.25rem;
  color: white; }

#catalogo .catalogo-item .catalogo-link:hover .catalogo-hover {
  opacity: 1; }

#catalogo .catalogo-item .catalogo-caption {
  padding: 1.5rem;
  text-align: center;
  background-color: #852525; }

#catalogo .catalogo-item .catalogo-caption .catalogo-caption-heading {
  font-size: 1.5rem;
  font-family: "Roboto Slab", serif;
  color: #fcefef;
  font-weight: 700;
  margin-bottom: 0; }

#catalogo .catalogo-item .catalogo-caption .catalogo-caption-subheading {
  font-style: italic;
  font-family: "Roboto Slab", serif; }

.catalogo-modal .modal-dialog {
  margin: auto;
  max-width: 50vw;
  max-height: 20vh;
  display: block; }

.catalogo-modal .modal-content {
  padding-top: 6rem;
  padding-bottom: 6rem;
  text-align: center;
  background: #852525; }

.catalogo-modal .modal-content h2, .catalogo-modal .modal-content .h2 {
  font-size: 2rem;
  line-height: 3rem; }

.catalogo-modal .modal-content p.item-intro {
  margin-bottom: 2rem;
  font-family: "Roboto Slab", serif; }

.catalogo-modal .modal-content p {
  margin-bottom: 2rem; }

.catalogo-modal .modal-content ul.list-inline {
  margin-bottom: 2rem; }
  .catalogo-modal .modal-content ul.list-inline li, .catalogo-modal .modal-content ul.list-inline ol {
    font-family: "Open Sans", sans-serif;
    text-align: center;
    color: #fcefef;
    letter-spacing: 2px;
    word-spacing: 2px;
    padding: auto;
    margin: auto;
    font-size: 1rem; }

.catalogo-modal .modal-content img {
  margin-bottom: 2rem; }

.catalogo-modal .close-modal {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  background-color: transparent; }

.catalogo-modal .close-modal:hover {
  opacity: 0.3; }

/*Fin Estilos nuestra carta*/
/*Inicio estilos Cerveza*/
#carrusel-cerveza {
  width: 70%; }
  #carrusel-cerveza .carousel-caption p {
    font-size: 25px;
    text-shadow: 2px 2px 3px #101112; }
  #carrusel-cerveza .carousel-caption h5 {
    font-size: 35px; }

.birra-platos {
  margin-bottom: 3rem;
  text-align: center; }

.birra-platos img {
  width: 14rem;
  height: 14rem;
  border: 0.5rem solid rgba(0, 0, 0, 0.1); }

.birra-platos h4, .birra-platos .h4 {
  margin-top: 1.5rem;
  margin-bottom: 0; }

/*Fin Estilos Cerveza*/
/*Inicio Estilos contacto*/
th, td {
  color: #fcefef; }

.form-group > .btn {
  text-align: justify;
  display: inline-block;
  margin: auto; }

label {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  color: #fcefef;
  letter-spacing: 2px;
  word-spacing: 2px;
  padding: auto;
  margin: auto;
  font-size: 1rem; }

.main__mapa {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 60px;
  overflow: hidden;
  margin: 10px 10px 10px 10px;
  border-radius: 10px;
  box-shadow: 20px 5px 10px #212529; }

.main__mapa iframe,
.main__mapa object,
.main__mapa embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

/*Fin Estilos contacto*/
