@import"variables";
@import"mixin";

#catalogo .catalogo-item {
    max-width: 26rem;
    margin-left: auto;
    margin-right: auto;
}

#catalogo .catalogo-item .catalogo-link {
    position: relative;
    display: block;
    margin: 0 auto;
}

#catalogo .catalogo-item .catalogo-link .catalogo-hover {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    background:$orosuave;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity ease-in-out 0.50s;
}
  
  #catalogo .catalogo-item .catalogo-link .catalogo-hover .catalogo-hover-content {
    font-size: 1.25rem;
    color: white;
  }
  #catalogo .catalogo-item .catalogo-link:hover .catalogo-hover {
    opacity: 10;
  }
  #catalogo .catalogo-item .catalogo-caption {
    padding: 1.5rem;
    text-align: center;
    background-color: $rojo;
  }
  #catalogo .catalogo-item .catalogo-caption .catalogo-caption-heading {
    font-size: 1.5rem;
    font-family: $roboto;
    color: $blanco;
  }

  
  .catalogo-modal {
  .modal-dialog{
  .modal-content {
    box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22);
    border-radius: 6px;
    border: $oro solid 0.5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;
    background: $rojo;
    margin-top: 50%;
    
  }
  }
  } 

  
  .catalogo-modal .modal-content h2, .catalogo-modal .modal-content .h2 {
    font-size: 2rem;
    line-height: 3rem;
  }

  .catalogo-modal .modal-content ul.list-inline {
    margin-bottom: 2rem;
    @include parrafo;
    text-align: left;
    li{
      list-style:disc;
    } 
    ol{
      list-style:square;
    }

  }

  .boton__modal {
    justify-content: center;
    color: $blanco;
    background-color: $gris;
    border: 1px solid #FFF;
    text-transform: uppercase;
    transition: all .3s ease-in-out;
    cursor: pointer;
  }


.boton__modal:hover {
  background-color: $orosuave;
  color: $gris;
}
