@import"variables";
@import"mixin";

#catalogo .catalogo-item {
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
}

#catalogo .catalogo-item .catalogo-link {
    position: relative;
    display: block;
    margin: 0 auto;
    img{
      border-radius: 50%;
      border: $orosuave solid;
    }
}

#catalogo .catalogo-item .catalogo-link .catalogo-hover {
    display: flex;
    position: absolute;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    background:$orosuave;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity ease-in-out 0.50s;
}
  
  #catalogo .catalogo-item .catalogo-link .catalogo-hover .catalogo-hover-content {
    font-size: 20px;
    color: white;
  }
  #catalogo .catalogo-item .catalogo-link:hover .catalogo-hover {
    opacity: 10;
  }
  #catalogo .catalogo-item .catalogo-caption {
    padding: 24px;
    text-align: center;
    background-color: $rojo;
  }
  #catalogo .catalogo-item .catalogo-caption .catalogo-caption-heading {
    font-size: 24px;
    font-family: $roboto;
    color: $blanco;
  }

  
.catalogo-modal{
  .modal-dialog{
    .modal-content{
    box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22);
    border-radius: 6px;
    border: $oro solid 8px;
    padding-top: 16px;
    padding-bottom: 16px;
    background: $rojo;
    }
  }
} 

  .catalogo-modal .modal-content h2, .catalogo-modal .modal-content .h2 {
    line-height: 45px;
  }


  .boton__modal {
    justify-content: center;
    color: $blanco;
    background-color: $gris;
    border: 1px solid #FFF;
    text-transform: uppercase;
    transition: all .3s ease-in-out;
    cursor: pointer;
  }
