@import"variables";
@import"mixin";

#catalogo .catalogo-item {
    max-width: 26rem;
    margin-left: auto;
    margin-right: auto;
}

#catalogo .catalogo-item .catalogo-link {
    position: relative;
    display: block;
    margin: 0 auto;
}

#catalogo .catalogo-item .catalogo-link .catalogo-hover {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    background:$orosuave;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity ease-in-out 0.50s;
}
  
  #catalogo .catalogo-item .catalogo-link .catalogo-hover .catalogo-hover-content {
    font-size: 1.25rem;
    color: white;
  }
  #catalogo .catalogo-item .catalogo-link:hover .catalogo-hover {
    opacity: 10;
  }
  #catalogo .catalogo-item .catalogo-caption {
    padding: 1.5rem;
    text-align: center;
    background-color: $rojo;
  }
  #catalogo .catalogo-item .catalogo-caption .catalogo-caption-heading {
    font-size: 1.5rem;
    font-family: $roboto;
    color: $blanco;
    font-weight: 700;
  }
  #catalogo .catalogo-item .catalogo-caption .catalogo-caption-subheading {
    font-style: italic;
    font-family: $roboto;  }
  
  .catalogo-modal .modal-dialog {
    margin: auto;
    display: block;
    
  }
  .modal-dialog .modal-content{
    box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22);
    border-radius: 6px;
    border: none;
}
  
  .catalogo-modal .modal-content {
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;
    background: $rojo;
  }
  .catalogo-modal .modal-content h2, .catalogo-modal .modal-content .h2 {
    font-size: 2rem;
    line-height: 3rem;
  }
  .catalogo-modal .modal-content p.item-intro {
    margin-bottom: 2rem;
    font-family: $roboto;
  }
  .catalogo-modal .modal-content p {
    margin-bottom: 2rem;
  }
  .catalogo-modal .modal-content ul.list-inline {
    margin-bottom: 2rem;
    @include parrafo;
    text-align: left;
    li{
      list-style:disc;
    } 
    ol{
      list-style:square;
    }

  }
  .catalogo-modal .modal-content img {
    margin-bottom: 2rem;
  }
  .catalogo-modal .close-modal {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    background-color: transparent;
}

.catalogo-modal .close-modal:hover {
    opacity: 0.3;
}
