@import"variables";

@mixin fondos {
    padding-top: 6rem;
    padding-bottom: 6rem;
    text-align: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
}

@mixin sombras {
    box-shadow: 20px 5px 10px $gris; 
}

@mixin listas {
    font-family: $opensans;
    color: $negro;
    letter-spacing: 2px;
    word-spacing: 2px;
    }


@mixin carrusel {
    width: 70%; 
    margin: auto;
    display:block;
    padding: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    box-shadow: 20px 5px 10px $gris;
}

@mixin parrafo{
    font-family: $opensans;
    text-align: center;
    color: #fcefef;
    letter-spacing: 2px;
    word-spacing: 2px;
    padding: auto;
    margin: auto;
    font-size: 1rem;
}

@mixin titulos{
    color: #FCEFEF;
    text-align: center;
    font-weight: bolder;
    font-family: 'Roboto Slab', serif;
    text-shadow: 1px 1px 2px $negro;
    letter-spacing: 2px;
    word-spacing: 5px;
    line-height: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    }

@mixin imagenes {
    display:block;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    box-shadow: 20px 5px 10px $gris; 
}


@mixin iframe-contenedor {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 60px; overflow: hidden;
    margin:10px 10px 10px 10px;
    border-radius: 10px;
    box-shadow: 20px 5px 10px $gris; 
}

@mixin responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


@mixin boton {
    display: block;
    margin: auto;
    padding: auto;
    
}