@import"variables";
@import"mixin";

.navbar{
    background:none;
    font-family: $roboto;
    background: $gris;
    margin: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.navbar-nav{
    .nav-item{
        .nav-link {
            color: #FCEFEF;
            text-shadow: $sombratexto;
            font-size: 18px;
            transition:all 0.8s ease-in;
            padding: auto;
            }
    }

}

.navbar-nav{
    .nav-item{
        .nav-link:hover{
        font-size: 20px;
        color: $oro;
        text-decoration:underline 1px  $oro;
        }
    }
}

.navbar .navbar-toggler{
    color: none;
}
.navbar-toggler:hover {
    text-decoration: none;
}




