@import"variables";
@import"mixin";
@import"animaciones";


.navbar{
    background:none;
    font-family: $roboto;
    background: $gris;
    margin: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
    animation-duration: 3s;
    animation-name: bounceInRight;
}

.navbar-nav{
    .nav-item{
        .nav-link {
            color: #FCEFEF;
            text-shadow: $sombratexto;
            font-size: 1.2em;
            transition:all 0.8s ease-in;
            padding: auto;
            }
    }

}

.navbar-nav{
    .nav-item{
        .nav-link:hover{
        font-size: 1.5em;
        color: $oro;
        text-decoration:underline 1px  $oro;
        }
    }
}











