@import"variables";
// Inicio estilos sidebar 

.container__sidebar>{
	button{
	position: fixed;
	right: 0;
	top: 28%;
	font-size: 0.8rem;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	z-index: 100;	
}
}

.sidebar {
	position: fixed;
	right: 0;
	top: 35%;
	font-size: 0.8rem;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	z-index: 100;
}

.bi-layout-text-sidebar{
	@include bi;
	border: $blanco;
}

.bi-whatsapp{
    background: #4dc247;
    @include bi;
}

.bi-facebook {
	background: #2E406E;
	@include bi;
}

.bi-geo-alt {
	background: $gris;
	@include bi;
}

.bi-house {
	background: $rojo;
	@include bi;
}

.bi-instagram {
	background: #FD1D1D;
	@include bi;
}

.bi:first-child {
	border-radius: 1rem 0 0 0;
}

.bi:last-child {
	border-radius: 0 0 0 1rem;
}

.bi-facebook:hover{
	@include bihover;
	}
.bi-geo-alt:hover{
	@include bihover;
	}
.bi-house:hover{
	@include bihover;
	}
.bi-instagram:hover{
	@include bihover;
	}
.bi-whatsapp:hover{
	@include bihover;
	}
.bi-layout-text-sidebar:hover{
	@include bihover;
}

// fin estilos sidebar 
