
// colores:
$blanco: #FFFFFF;
$negro:#101112;
$negro2:#231F20;
$verde:#017312;
$verdetransparente:#01731290;
$gris:#212529;
$gristransparente:#21252980;
$rojo:#bb4430;
$colorfacebook:#3b5998;
$colorinstagram:#fd1d1d;
$colorwsp:#4dc247;

// fuente
$roboto:'Roboto Slab', serif; ;
$sombra:20px 5px 10px $negro;     
$sombratexto:1px 1px 2px $negro;
$opensans:'Open Sans', sans-serif;