
// colores:
$blanco: #fcefef;
$negro:#101112;
$gris:#212529;
$gristransparente:#21252980;
$rojo:#852525;
$oro:#D58936;
$cemento:#90a583;
$colorfacebook:#3b5998;
$colorinstagram:#fd1d1d;
$colorwsp:#4dc247;

// fuente
$roboto:'Roboto Slab', serif; ;
$sombra:20px 5px 10px black;     
$sombratexto:1px 1px 2px black;
$opensans:'Open Sans', sans-serif;