*{
margin: 0;
padding: 0;
box-sizing: border-box
}

@import"variables";
@import"mixin";

// Inicio estilos sidebar 
@import"sidebar.scss";

// Estilos navbar
@import"navbar.scss";


/*Inicio background*/

.header_index{
    background:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../imagenes/fondos/fondo-index.jpg);
    @include fondos;
}

.header_nosotros{
    background:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../imagenes/fondos/fondo-nosotros.jpg);
    @include fondos;
}

.header_carta{
    background:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../imagenes/fondos/fondo-carta.jpg);
    @include fondos;
}

.header_cerveza{
    background:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../imagenes/fondos/fondo-cerveza.jpg);
    @include fondos;

}

.header_contacto{
    background:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../imagenes/fondos/fondo-contacto.jpg);
    @include fondos;
}

body{
    width: 100%;
    background: $rojo;
}

footer{
    background: $gris;
    border: solid 2px $negro;
}

/*fin background*/

/*Inicio Estilos titulos y parrafos*/

p{
    @include parrafo;
}

.btn{
    @include boton;
}

h1,h2,h3,h4,h5,h6{
    @include titulos;
}

.index__titulo {
font-size: 2.8rem;
padding:max-content;
margin: max-content;
transition: font-size 3s ease-in;
}

.index__titulo:hover{
font-size: 3rem;   
}

.footer{
    p{
        margin:2px 2px;
        padding: auto;
    }
}
/*Fin Estilos titulos y parrafos*/

/*Inicio Estilos generales*/

.logo{
    display: block;
    margin: auto;
    width: 15%;
}
/*Fin Estilos Generales*/


/*Inicio estilos Index*/
.card{
    div{
        img{
            transition: 2s linear;
        }
    }
}  

.card{
    div{
        img:hover{
            width: 120%;
        }
    }
}  

.card{
    background:none ;
    margin-top: 30px;
    margin-bottom: 30px;
    box-shadow: $sombra;
    border: 5px solid $rojo;
}

.card-cover {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.card-title{
    font-size: 30px;
    text-shadow: 3px 3px 4px $negro;
}

.card-text{
    font-size: 20px;
    text-shadow: 3px 3px 4px $negro;
}
/*Fin estilos Index*/ 



/*Inicio estilos Nosotros*/
.main__parrafo{
    word-spacing: 5px;
    margin: 25px;
    text-shadow: 2px 2px 3px $negro;
}

.main__video {
    @include iframe-contenedor;
}

.main__video iframe,
.main__video object,
.main__video embed {
    @include responsive-iframe;
}

.carousel{
    @include carrusel;
    }

/*Fin de Estilos Nosotros*/


/*Inicio estilos nuestra carta*/
.bi-plus-lg{
    font-size: 2rem;
}

@import "catalogo.scss";

/*Fin Estilos nuestra carta*/


/*Inicio estilos Cerveza*/
#carrusel-cerveza{
    width: 50%;
    .carousel-caption{
        p{
        font-size:25px;
        text-shadow: 2px 2px 3px $negro;
        }
        h5{
        font-size: 35px;
        }
    }
}

.birra-platos {
    margin-bottom: 3rem;
    text-align: center;
}

.birra-platos img {
    width: 14rem;
    height: 14rem;
    border: 0.5rem solid rgba(0, 0, 0, 0.1);
}

.birra-platos h4, .birra-platos .h4 {
    margin-top: 1.5rem;
    margin-bottom: 0;
}



/*Fin Estilos Cerveza*/

/*Inicio Estilos contacto*/

th,td{
    color:$blanco;
    
}
.form-group>.btn{
    text-align: justify;
    display: inline-block;
    margin: auto;
}

label{
@include parrafo;
}

.main__mapa{
@include iframe-contenedor;
}

.main__mapa iframe,
.main__mapa object,
.main__mapa embed {
@include responsive-iframe;
}
/*Fin Estilos contacto*/
