*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
    }
    
    @import"variables";
    @import"mixin";
    @import"animaciones";
    
    // Inicio estilos sidebar 
    @import"sidebar.scss";
    
    // Estilos navbar
    @import"navbar.scss";
    
    
    /*Inicio background*/
    
    
    .header_index{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background:linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.5)), url(../img/fondos/fondo-index.jpg);
        @include fondos;
        animation: banner 24s infinite linear;
    }
    
    .header_nosotros{
        display: flex;
        align-items: center;
        justify-content: center;
        background:linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.5)), url(../img/fondos/fondo-nosotros.jpg);
        @include fondos;
    }
    
    .header_carta{
        display: flex;
        align-items: center;
        justify-content: center;
        background:linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.5)), url(../img/fondos/fondo-carta.jpg);
        @include fondos;
    }
    
    .header_cerveza{
        display: flex;
        align-items: center;
        justify-content: center;
        background:linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.5)), url(../img/fondos/fondo-cerveza.jpg);
        @include fondos;
    
    }
    
    .header_contacto{
        display: flex;
        align-items: center;
        justify-content: center;
        background:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../img/fondos/fondo-contacto.jpg);
        @include fondos;
    }
    
    body{
        background: $rojo;
    }
    
    main{
        margin-bottom: 30px;
    }
    
    footer{
        
        background: $gris;
    }
    
    /*fin background*/
    
    /*Inicio Estilos titulos y parrafos*/
    
    p{
        @include parrafo;
    }
    
    h1{
    font-size: 50px;
    @include titulos;
    animation-name: bounceInLeft;
    animation-duration: 3s;
    }
    
    h2{
        font-size: 45px;
        @include titulos;
        animation-name: bounceInLeft;
        animation-duration: 3s;
        }
    
    h3{
    font-size: 40px;
    @include titulos;
    animation-name: bounceInLeft;
    animation-duration: 3s;
    }
    
    h4{
        font-size: 35px;
        @include titulos;
        animation-name: bounceInLeft;
        animation-duration: 3s;
        }
        
    h5{
        font-size: 30px;
        @include titulos;
        animation-name: bounceInLeft;
        animation-duration: 3s;
        }

    .footer{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 64px;
    }
    /*Fin Estilos titulos y parrafos*/
    
    /*Inicio Estilos generales*/
    
    .logo{
        display:flex;
        margin: auto;
        width: 180px;
        animation: bounceIn  3s linear;
    }
    
    hr {
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: auto;
        margin-right: auto;
        border: $oro solid 5px;
        height: 30px;
        width: 50%;
    }
    
    /*Fin Estilos Generales*/
    
    /*Inicio estilos Index*/
    
    .index__titulo {
        font-size: 50px;
        margin: 16px;
        justify-content: center;
        transition: font-size 3s ease-in;
        animation-delay:3s;
        animation-name: pulse;
        }
        
    .index__titulo:hover{
        font-size: 55px;   
        }   
        
        
    .index__boton{
        text-decoration: none;
        justify-content: center;
        color: #FFF;
        border: 1px solid #FFF;
        text-transform: uppercase;
        transition: all .3s ease-in-out;
    }
    
    .index__boton:hover{
        background-color: $blanco;
        color: $gris;
    }
    
    .index__card{
        border-radius: 20px;
            img{
                border-radius: 0px 0px 20px 20px  ;
            }
    }
    
    .main__index{
        p{
            font-size: 18px;
        }
    }
    
    .card{
        background:none ;
        margin-top: 30px;
        margin-bottom: 30px;
        box-shadow: $sombra;
        border: $orosuave 5px solid;
    }
    
    
    .card-cover {
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }
    
    .card__boton{
        text-decoration: none;
        font-size: 20px;
        justify-content: center;
        color: #FFF;
        border: 1px solid #FFF;
        text-transform: uppercase;
        transition: all .3s ease-in-out;
    }
    
    .card__boton:hover{
        background-color: $blanco;
        color: $gris;
    }
    
    
    /*Fin estilos Index*/ 
    
    
    
    /*Inicio estilos Nosotros*/
    .main__parrafo{
        word-spacing: 5px;
        text-shadow: 2px 2px 3px $negro;
    }
    
    @media (max-width: 768px) {
        .main__parrafo{
        font-size: 18;}
        }
    @media (max-width: 576px) {
        .main__parrafo{
        font-size: 15px ;}
        }
    
    .main__video {
        @include iframe-contenedor;
    }
    
    .main__video iframe,
    .main__video object,
    .main__video embed {
        @include responsive-iframe;
    }
    
    #galeria1,#galeria2,#galeria3,#galeria4,#galeria5,#galeria6{
    .modal-dialog{
    img{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20%;
    }
    }
    }
    /*Fin de Estilos Nosotros*/
    
    
    /*Inicio estilos nuestra carta*/
    
    .bi-plus-lg{
        font-size: 16px;
    }
    
    @import "catalogo.scss";
    
    /*Fin Estilos nuestra carta*/
    
    
    /*Inicio estilos Cerveza*/
    #carrusel-cerveza{
        width: 100%;
        @include carrusel;
        .carousel-caption{
            p{
            font-size:20px;
            text-shadow: 2px 2px 3px $negro;
            }
            h5{
            font-size: 30px;
            }
        }
    }
    
    .birra-platos {
        margin-bottom: 48px;
        text-align: center;
    }
    
    .birra-platos img {
        width: 240px;
        height: 232px;
        border: $orosuave 5px solid;
    }
    
    .birra-platos h4 {
        margin-top: 24px;
        margin-bottom: 1;
    }
    
    .birra-platos p {
        margin-top: 16px;
    }
    
    
    
    /*Fin Estilos Cerveza*/
    
    /*Inicio Estilos contacto*/
    
    .bi-telephone,.bi-geo-fill,.bi-alarm{
        font-size: 24px;
        color: $blanco;
        text-shadow: $sombratexto;
        margin-right: 16px;
    }
    
    .contacto{
        p{ 
            a {
            text-decoration: none;
                .bi-whatsapp , .bi-facebook, .bi-instagram{
                font-size: 1.5em;
                padding: 0px 2px 0px 2px;
                color:$blanco;
                text-shadow:1px 1px 1px $negro;
                transition: all 0.5s linear;
                }
                .bi:first-child{
                border-radius: 0.3em;
                }
            }
        }
    }
    
    
    p{
        a {
        text-decoration: none;
        padding: 16px 16px;
            .bi-whatsapp:hover{
            font-size: 32px;
            color:$blanco;
            background: $colorwsp;
            }
        }
    }
    
    p{
        a {
        text-decoration: none;
        padding: 16px 16px;
            .bi-facebook:hover{
            font-size: 32px;
            color:$blanco;
            background: $colorfacebook;
            }
        }
    }
    
    p{
        a {
        text-decoration: none;
        padding: 16px 16px;
            .bi-instagram:hover{
            font-size: 32px;
            color:$blanco;
            background: $colorinstagram;
            }
        }
    }
    
    
    .form-group>.btn{
        text-align: justify;
        display: inline-block;
        margin: auto;
    }
    
    label{
    @include parrafo;
    }
    
    .main__mapa{
    @include iframe-contenedor;
    }
    
    .main__mapa iframe,
    .main__mapa object,
    .main__mapa embed {
    @include responsive-iframe;
    }
    
    /*fin Estilos contacto*/